### Description

In [1]:
### This code aims to classify the survival classification for titanic members

### Imports

In [2]:
import pandas as pd

import numpy as np
from datetime import datetime
import xlsxwriter
import string
import os
import re
import matplotlib.pyplot as plt
from statsmodels.tsa.stattools import adfuller
import statsmodels.api as sm
from scipy import stats
from numpy.random import seed
from numpy.random import randn
from scipy.stats import shapiro
from sklearn.neighbors import KernelDensity
import seaborn as sns
import cvxpy as cp
from scipy.optimize import minimize

In [3]:
from scipy.optimize import minimize

## Specify parameters [1]

In [402]:


test_data = r"C:\Users\hugo.lu\repos\repos_backup\Kaggles\1. Titanic\test.csv"
train_data = r"C:\Users\hugo.lu\repos\repos_backup\Kaggles\1. Titanic\train.csv"

## Specify data

In [403]:
test_data = pd.read_csv(filepath_or_buffer = test_data, index_col = 0)

In [404]:
train_data = pd.read_csv(filepath_or_buffer = train_data, index_col = 0)

In [405]:
test_data.head(5)
test_data = test_data.reset_index()

In [406]:
train_data.head(5)
train_data=train_data.reset_index()

## State thesis and clean data

In [414]:
#Thesis: survivors depend on pclass,sex, age, SibSp, Cabin type, and possibly embarkation
def make_bool(df,cols):
    new_df = df.copy(deep = True) ## do not edit in place
    for item in cols:
        vals = list(new_df[item].drop_duplicates())
        #print(vals)
        #col = list(row.columns)[0]
        for i,j in enumerate(vals):
            #print(i)
            #print(j)
            new_df.at[(new_df[item] ==j) ,item+str("_edit")] = i ## Need to create a new column to avoid overwriting
        new_df[item] = new_df[item+str("_edit")] ## set new column to old column
    return new_df

## Based on the data, having cabin as NA also seems to be a good divisor of socioeconomic class.

## Therefore this is added as a new variable instead of cabin number. Looking at cabin number seems to provide no indication
## of anything really

In [415]:
x_vars = []
for item in list(train_data.columns):
    x_vars.append(item)
bool_converts =["Survived", "Pclass", "Sex", "Cabin","Embarked"]
train_data_copy = train_data.copy(deep = True)

In [416]:
train_data_copy = make_bool(train_data_copy,bool_converts)

[0, 1]
0
0
1
1
[3, 1, 2]
0
3
1
1
2
2
['male', 'female']
0
male
1
female
[nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6', 'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33', 'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101', 'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4', 'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35', 'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19', 'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54', 'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40', 'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44', 'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14', 'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38', 'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68', 'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48', 'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63', 'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30', 'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36', 'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42', 'C148']
0
nan
1
C85
2
C123
3
E46
4
G6
5
C103
6
D56
7
A6
8
C23 C25 C27
9
B78
10
D33
11
B30
12
C52
13
B28
14
C83
15
F33
16
F G73
17
E31
18
A5
19
D10 D12
20
D26
21
C110
22
B58 B60
23
E101
24
F E69
25
D47
26
B86
27
F2
28
C2
29
E33
30
B19
31
A7
32
C49
33
F4
34
A32
35
B4
36
B80
37
A31
38
D36
39
D15
40
C93
41
C78
42
D35
43
C87
44
B77
45
E67
46
B94
47
C125
48
C99
49
C118
50
D7
51
A19
52
B49
53
D
54
C22 C26
55
C106
56
C65
57
E36
58
C54
59
B57 B59 B63 B66
60
C7
61
E34
62
C32
63
B18
64
C124
65
C91
66
E40
67
T
68
C128
69
D37
70
B35
71
E50
72
C82
73
B96 B98
74
E10
75
E44
76
A34
77
C104
78
C111
79
C92
80
E38
81
D21
82
E12
83
E63
84
A14
85
B37
86
C30
87
D20
88
B79
89
E25
90
D46
91
B73
92
C95
93
B38
94
B39
95
B22
96
C86
97
C70
98
A16
99
C101
100
C68
101
A10
102
E68
103
B41
104
A20
105
D19
106
D50
107
D9
108
A23
109
B50
110
A26
111
D48
112
E58
113
C126
114
B71
115
B51 B53 B55
116
D49
117
B5
118
B20
119
F G63
120
C62 C64
121
E24
122
C90
123
C45
124
E8
125
B101
126
D45
127
C46
128
D30
129
E121
130
D11
131
E77
132
F38
133
B3
134
D6
135
B82 B84
136
D17
137
A36
138
B102
139
B69
140
E49
141
C47
142
D28
143
E17
144
A24
145
C50
146
B42
147
C148
['S', 'C', 'Q', nan]
0
S
1
C
2
Q
3
nan

In [417]:
def remove_nans(df,col,how_to):
    if how_to == "kde":
        no_nans = df[col].dropna()
        num_nans = df[col].isnull().sum()
        print(num_nans)
        x = np.array(no_nans)
        xs = np.linspace(min(no_nans),max(no_nans),1000)
        # expects n x p matrix with p features
        x.shape = (len(x), 1)
        xs.shape = (len(xs), 1)
        #### Question@ is this the correct KDE to use? Probably can be refined and generalised....
        kde = KernelDensity(bandwidth=((max(no_nans)- min(no_nans))/30)).fit(x)
        dens = np.exp(kde.score_samples(xs))
        #plt.plot(xs, dens)
        probs = dens / sum(dens)
        xs_comma = np.reshape(xs,newshape = (len(xs),))
        mc = np.random.choice(xs_comma, size=num_nans, replace=True, p=probs)
        print(len(mc))
        df.loc[df[col].isnull(), col] = list(mc)
        return df
    else: 
        print("other")

In [418]:
train_data_copy = remove_nans(train_data_copy,"Age","kde")
train_data_copy['Cabin_edit'] = train_data_copy['Cabin'].apply(lambda x: 1 if np.isnan(x)else 0)

177
177

In [419]:
train_data_copy.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived_edit,Pclass_edit,Sex_edit,Cabin_edit,Embarked_edit
0,1,0.0,0.0,"Braund, Mr. Owen Harris",0.0,22.0,1,0,A/5 21171,7.2500,NaN,0.0,0.0,0.0,0.0,1,0.0
1,2,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1.0,38.0,1,0,PC 17599,71.2833,1.0,1.0,1.0,1.0,1.0,0,1.0

In [420]:
x_vars.remove("Name")
x_vars.remove("Ticket")
x_vars.remove("Cabin")
x_vars.append("Cabin_edit")
x_vars.remove("PassengerId")
x_vars.remove("Survived")

In [421]:
x_vars

['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked', 'Cabin_edit']

In [422]:
y_vars = ['Survived']

In [423]:
train_data_copy = train_data_copy[x_vars + y_vars]

In [424]:
train_data_copy.isna().sum()

Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Embarked      2
Cabin_edit    0
Survived      0
dtype: int64

In [425]:
train_data_copy  = train_data_copy.dropna()

### Train models

In [426]:
from sklearn import model_selection 
from sklearn.ensemble import BaggingClassifier 
from sklearn.tree import DecisionTreeClassifier 
import pandas as pd 
  
# load the data 

X = np.array(train_data_copy[x_vars])
Y = np.array(train_data_copy[y_vars])
#Y = np.reshape(Y,newshape = (len(Y),1))
  
seed = 8
kfold = model_selection.KFold(n_splits = 10, 
                       random_state = seed) 
  
# initialize the base classifier 
base_cls = DecisionTreeClassifier(min_samples_split = 10) 
  
# no. of base classifier 
num_trees = 700
  
# bagging classifier 
model = BaggingClassifier(base_estimator = base_cls, 
                          n_estimators = num_trees, 
                          random_state = seed,
                         max_samples = round(len(train_data_copy)/1.3),
                         bootstrap = True)
fit = model.fit(X,Y)
  
results = model_selection.cross_val_score(model, X, Y, cv = kfold) 
print("accuracy :") 
print(results.mean())

C:\Users\hugo.lu\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:622: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\hugo.lu\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:622: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\hugo.lu\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:622: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\hugo.lu\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:622: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\hugo.lu\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:622: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\hugo.lu\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:622: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\hugo.lu\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:622: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\hugo.lu\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:622: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\hugo.lu\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:622: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\hugo.lu\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:622: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\hugo.lu\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:622: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

accuracy :
0.8200842696629213

In [427]:
predictions_train = ((fit.predict(X)))
output = pd.DataFrame()
output['y_hat'] = predictions_train
output['y'] = Y
output['true_positives'] = None
output.at[(output['y'] ==1) & (output['y_hat']==1),'true_positives'] = 1
output['true_negatives'] = None
output.at[(output['y'] ==0) & (output['y_hat']==0),'true_negatives'] = 1
output['false_positives'] = None
output.at[(output['y'] ==0) & (output['y_hat']==1),'false_positives'] = 1
output['false_negatives'] = None
output.at[(output['y'] ==1) & (output['y_hat']==0),'false_negatives'] = 1

In [428]:
output.sum()

y_hat              305.0
y                  340.0
true_positives     281.0
true_negatives     525.0
false_positives     24.0
false_negatives     59.0
dtype: float64

In [429]:
output.sum()
print("the true positive rate is:"+str(output['true_positives'].sum()/output['y_hat'].sum()))

the true positive rate is:0.921311475409836

In [430]:
print("the accuracy rate on the train is:"+str((output['true_negatives'].sum()+output['true_positives'].sum())/len(output)))

the accuracy rate on the train is:0.906636670416198

## Testing the model

#### Cleaning the test set

In [431]:
test_data_copy = test_data.copy(deep = True)
test_data_copy['Survived'] = None
test_data_copy = test_data_copy.reset_index()

In [432]:
test_data_copy = make_bool(test_data_copy,bool_converts)

[None]
0
None
[3, 2, 1]
0
3
1
2
2
1
['male', 'female']
0
male
1
female
[nan, 'B45', 'E31', 'B57 B59 B63 B66', 'B36', 'A21', 'C78', 'D34', 'D19', 'A9', 'D15', 'C31', 'C23 C25 C27', 'F G63', 'B61', 'C53', 'D43', 'C130', 'C132', 'C101', 'C55 C57', 'B71', 'C46', 'C116', 'F', 'A29', 'G6', 'C6', 'C28', 'C51', 'E46', 'C54', 'C97', 'D22', 'B10', 'F4', 'E45', 'E52', 'D30', 'B58 B60', 'E34', 'C62 C64', 'A11', 'B11', 'C80', 'F33', 'C85', 'D37', 'C86', 'D21', 'C89', 'F E46', 'A34', 'D', 'B26', 'C22 C26', 'B69', 'C32', 'B78', 'F E57', 'F2', 'A18', 'C106', 'B51 B53 B55', 'D10 D12', 'E60', 'E50', 'E39 E41', 'B52 B54 B56', 'C39', 'B24', 'D28', 'B41', 'C7', 'D40', 'D38', 'C105']
0
nan
1
B45
2
E31
3
B57 B59 B63 B66
4
B36
5
A21
6
C78
7
D34
8
D19
9
A9
10
D15
11
C31
12
C23 C25 C27
13
F G63
14
B61
15
C53
16
D43
17
C130
18
C132
19
C101
20
C55 C57
21
B71
22
C46
23
C116
24
F
25
A29
26
G6
27
C6
28
C28
29
C51
30
E46
31
C54
32
C97
33
D22
34
B10
35
F4
36
E45
37
E52
38
D30
39
B58 B60
40
E34
41
C62 C64
42
A11
43
B11
44
C80
45
F33
46
C85
47
D37
48
C86
49
D21
50
C89
51
F E46
52
A34
53
D
54
B26
55
C22 C26
56
B69
57
C32
58
B78
59
F E57
60
F2
61
A18
62
C106
63
B51 B53 B55
64
D10 D12
65
E60
66
E50
67
E39 E41
68
B52 B54 B56
69
C39
70
B24
71
D28
72
B41
73
C7
74
D40
75
D38
76
C105
['Q', 'S', 'C']
0
Q
1
S
2
C

In [433]:
test_data_copy = remove_nans(test_data_copy,"Age","kde")
test_data_copy['Cabin_edit'] = test_data_copy['Cabin'].apply(lambda x: 1 if np.isnan(x)else 0)

86
86

In [434]:
test_data_copy = test_data_copy[x_vars+y_vars]

In [435]:
test_data_copy.isna().sum()

Pclass          0
Sex             0
Age             0
SibSp           0
Parch           0
Fare            1
Embarked        0
Cabin_edit      0
Survived      418
dtype: int64

In [436]:
test_data_copy.at[test_data_copy['Fare'].isna(),'Fare'] = test_data_copy['Fare'].mean()

In [437]:
test_data_copy.isna().sum()

Pclass          0
Sex             0
Age             0
SibSp           0
Parch           0
Fare            0
Embarked        0
Cabin_edit      0
Survived      418
dtype: int64

In [438]:
X_test = test_data_copy[x_vars]

In [439]:
predictions_test = ((fit.predict(X_test)))
output = pd.DataFrame()
test_data_copy['Survived'] = predictions_test
#output['y'] = Y

In [445]:
output = test_data.copy(deep = True)
output['Survived'] = test_data_copy['Survived']

In [449]:
output = output[['PassengerId','Survived']]

In [453]:
pd.DataFrame.to_csv(output,index = False,path_or_buf = r"C:\Users\hugo.lu\repos\repos_backup\Kaggles\1. Titanic\submission.csv")